.banner-container {
  width: 100%;
  height: 200px;
  background: url('/assets/img/inicio-banner.png') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
