.banner-container {
  width: 100%;
  height: 180px;
  background: url('/assets/img/conceptos-banner.png') no-repeat center center;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}
